.loginbg {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  /* background: url("./loginbackground.png"); */
  background-size: cover;

  background-repeat: no-repeat;
}
.login {
  width: 70%;
  height: 70%;
  margin: auto;
  font-size: 16px;
  /* font-family: Arial, sans-serif; */
}

.MuiInputLabel-root {
  min-width: 200px;
  font-weight: bold;
}

.login-form {
  /* position: relative; */
  z-index: 1;
  /* background: #ffffff; */
  border-radius: 20px;
  max-width: auto;
  max-height: auto;
  height: 95%;
  text-align: none;
  display: flex;
  /*background: url("./BackgroundInbox.png");*/
}

.left {
  flex: 1;
  background-color: #dddedf;
  border-radius: 15px 0 0 15px;
}

.login-left-inside {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  flex: 1;
  align-items: center;
}
.welcome {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  flex-direction: column;
}
.bold-welcome {
  font-size: 45px;
  font-weight: bold;
  margin: -20px;
}
.welcomefishPic {
  margin-top: 10px;
  width: 65%;
  max-width: 100%;
  height: 80%;
  object-fit: cover;
}
.rememberme {
  font-size: 16px;
}
.right {
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 0 15px 15px 0;
  justify-content: space-around;
}
.login-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: top;
  padding: 3px;
  /* padding-bottom: 35px;
  padding-top: 10px; */
}
.login-group label {
  width: fit-content;
  padding-right: 10px;
}
.login-group input {
  width: 450px;
  height: 32px;
  font-size: 24px;
}
.selectLanguage {
  font-size: 18px;
  font-weight: lighter;
}
.login-email {
  font-size: 16px;
}

.login-password {
  font-size: 16px;
}
.submitbtn {
  display: flex;

  justify-content: flex-end;
}
.submitbtn button {
  font-size: 16px;
  border-radius: 10px;
  width: 6rem;
  height: 2rem;
  border: none;
  background-color: rgb(97, 97, 97);
  color: #ffffff;
}

.terms {
  font-size: small;
}
.forgetpw {
  text-decoration: none;
  color: black;
}
.warning-terms {
  padding-top: 50px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 600px) {
  .loginbg {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    /* background: url(./loginbackground.png); */
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
  }
  .login {
    padding: 8% 0 0;
    width: 90%;
    height: 90%;
    margin: 0;
    /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  }
  .right {
    padding: 20px;
    background-color: #dddedf;
  }
  .left .languages {
    font-size: 12px;
  }
  .login-form {
    /* position: relative; */
    z-index: 1;
    background: #ffffff;
    border-radius: 20px;
    max-width: auto;
    max-height: auto;

    text-align: none;
    display: flex;
    flex-direction: column;
    background: url("./BackgroundInbox.png");
  }

  .left {
    border-radius: 15px 15px 0 0;
  }
  .welcome {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

    flex-direction: column;
  }
  .bold-welcome {
    font-size: 45px;
    font-weight: bold;
    margin: -20px;
  }
  .right {
    border-radius: 0 0 15px 15px;
  }
  .forgetpw {
    font-size: 10px;
  }
  .login-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: top;
  }
  .login-group label {
    width: 40%;
    padding-right: 10px;
  }
  .login-group input {
    width: 250px;
    height: 16px;
    font-size: 11px;
  }
  .selectLanguage {
    font-size: 12px;
  }
  .login-email {
    font-size: 12px;
  }
  .rememberme label {
    font-size: 12px;
  }
  .login-password {
    font-size: 12px;
  }
  .submitbtn {
    display: flex;
    justify-content: flex-end;
    padding-right: 0;
  }
  .submitbtn button {
    font-size: 10px;
    border-radius: 10px;
    width: 55px;
  }
  .terms {
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }
  .warning-terms {
    padding-right: 10px;
    font-size: 8px;
    position: absolute;
    bottom: 0;
  }
  .warning-terms {
    display: flex;
    justify-content: center;
  }
}
