.fishSent {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: url("./background8.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.fishSent p {
  font-size: 28px;
}

@media (max-width: 600px) {
  .fishSent p {
    font-size: 16px;
  }
  .fishSent {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 170px;
    background: url("./mobile_background8.png");
    background-repeat: no-repeat;
  }
  img {
    width: 100px;
    height: 42px;
    border: 1px ridge black;
    background-color: rgb(241, 241, 241);
  }
}
